# Data Structures

In [1]:
# data structure is noting but collection of data values

In [1]:
name=input("whats your Name")
number=input("whats your number")
print(name,number)

whats your NameVIkram
whats your number273
VIkram 273

In [6]:
from random import seed
from random import randint
value=randint(100,999)
value

585

In [7]:
print(name,number,value)

Vikram 876 585

# LISTS

In [9]:
list1=[name,number,value]
list1

['Vikram', '876', 585]

In [10]:
L=["india",32,2,"mumbai"]
L

['india', 32, 2, 'mumbai']

In [13]:
#nested lis==> List inside another list is called Nested list
L=["Chemistry","Biology",[1992,2004],5]
L

['Chemistry', 'Biology', [1992, 2004], 5]

In [19]:
#Indexing
L[0]

'Chemistry'

In [18]:
L[2]

[1992, 2004]

In [28]:
i=L[-2]

In [21]:
L[-2][0]

1992

In [22]:
L[-2][1]

2004

In [29]:
##Slicing -- accessing some of elements in list
L[1:3]

['Biology', [1992, 2004]]

In [32]:
L[2:4]

[[1992, 2004], 5]

In [36]:
L[2::2]

[[1992, 2004]]

In [38]:
# Indexing example 
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L[0]

# Slicing
L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [44]:
#membership in list
L1=[1,2,3,4]
print(1,2,3,4)
print(1 in L1)
print(7 in L1)

1 2 3 4
True
False

In [46]:
#List concatanation 
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [51]:
new_L=L+[5,9]
new_L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 9]

In [50]:
# Replace "Biology " with Physics
L[1]="Physics"
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [53]:
#Extend
L.extend([5,8])
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [55]:
#Append -- append will add the list exactly into the list
L.append([5,8])
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8, [5, 8]]

In [56]:
L.append(123)
L

['Chemistry',
 'Physics',
 [1989, 2004],
 ('Oreily', 'Pearson'),
 5,
 8,
 [5, 8],
 123]

In [57]:
#del command
del L[0]
L

['Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8, [5, 8], 123]

In [58]:
del L[0:2]
L

[('Oreily', 'Pearson'), 5, 8, [5, 8], 123]

In [65]:
#pop  -- pop will give you the last element in the list and it will pop th element out from the list ()
L=['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 9]
L.pop()

9

In [64]:
print(L)

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5]

In [66]:
#remove
L.remove('Physics')
L

['Chemistry', [1989, 2004], ('Oreily', 'Pearson'), 5]

In [69]:
#POP with index
L.pop(0)
L

[('Oreily', 'Pearson'), 5]

In [ ]:
# Sorting in List

In [75]:
L=[23,83,7654,12,654]
L.sort()
L

[12, 23, 83, 654, 7654]

In [76]:
L.sort(reverse=True) # Decending order / reverse sort
L

[7654, 654, 83, 23, 12]

#### Difference between sort and sorted

In [77]:
#sort(): Sorts the elements of a list in place
#sorted(): Assign the sorted elements to a new list and the original list is left as is. 
A=['Orange','Strawberry','mango']
A

['Orange', 'Strawberry', 'mango']

In [79]:
B=A.sort()
print(A)
print(B)

['Orange', 'Strawberry', 'mango']
None

In [86]:
A=["Orange", "Strawberry", "Mango"]
C=sorted(A)
print (A)
print (C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

In [88]:
List_1=[1,2,3,4,5]
List_1[-5]

1

In [89]:
word=['1','2','3','4']
word[ : ]=[ ]
print(word)

[]

In [90]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [91]:
# Shallow copying
A=["orange","Strawberry","Mango"]
B=A
print(A,B)

['orange', 'Strawberry', 'Mango'] ['orange', 'Strawberry', 'Mango']

In [92]:
A[0]="Apple"
print(A,B)

['Apple', 'Strawberry', 'Mango'] ['Apple', 'Strawberry', 'Mango']

In [93]:
A=["orange","Strawberry","Mango"]
B=A[:] # here we are making a copy and then you can change whatever you want so that both cannot be changed
print(A,B)

['orange', 'Strawberry', 'Mango'] ['orange', 'Strawberry', 'Mango']

In [94]:
A[0]="Apple"
print(A,B)

['Apple', 'Strawberry', 'Mango'] ['orange', 'Strawberry', 'Mango']

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequence of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [99]:
t=("disco",12,3,5)
t

('disco', 12, 3, 5)

In [98]:
type(t)

tuple

In [100]:
#Tupple can define in many ways
sample_tupple=1,2,3,4
sample_tupple

(1, 2, 3, 4)

In [101]:
#single value tupple , make sure to hav a  at end 
single_tupple=1,
print(single_tupple)

(1,)

In [103]:
single_tupple=1 # this is not a tupple
type(single_tupple)

int

In [104]:
single_tupple1=(1) # this is not a tupple
type(single_tupple1)

int

#### INDEXING with tupple

In [106]:
t=("viki",54,"python")
t

('viki', 54, 'python')

In [107]:
t[2]

'python'

In [110]:
t[-3]

'viki'

### Slicing

In [112]:
t=("mumbai",54,"python",4,5,2)
t

('mumbai', 54, 'python', 4, 5, 2)

In [113]:
t[0:3] # index 1st is inclusive and 2nd is exclusive

('mumbai', 54, 'python')

In [114]:
t[-2:]

(5, 2)

In [115]:
len(t)

6

#### Concatenating tuples

In [118]:
tup1=("This", "is","session",2)
tup2=("on","Tuples")

In [119]:
tup3=tup1+tup2
tup3

('This', 'is', 'session', 2, 'on', 'Tuples')

#### sum() min() max()

In [120]:
t=(2,4,15,3,-3)
sum(t)

21

In [121]:
min(t)

-3

In [122]:
max(t)

15

In [124]:
x=(1,2,3)
x[2]=5
print(x) # error is expected as Tuples cant be changed

TypeError: 'tuple' object does not support item assignment

In [125]:
x=(1,2,"hello",3)
min(x) # expected error as there is a string in tuple and canr find the min

TypeError: '<' not supported between instances of 'str' and 'int'

In [126]:
t = ("disco", 12, 4.5)
t[0][2]

's'

#### Immutability of tuples

In [127]:
t=("USA",3,6,"Disco",2.3)
t

('Disco', 3, 6, 'USA', 2.3)

In [128]:
t[3]="Hardrocks" # expected error ad tuple cant change but we can create a new tuple and slice it

TypeError: 'tuple' object does not support item assignment

In [130]:
# example of modifying the tuple using creating new one and using the old and concatebating
new_t=t[0:3]+("hard Rock",) +t[4:] 
new_t

('Disco', 3, 6, 'hard Rock', 2.3)

#### Sorting a tuple

In [132]:
t=(1,4,9,3,5,-8,-73)
t

(1, 4, 9, 3, 5, -8, -73)

In [133]:
sorted(t)  # when we sort the tuple , it wil automatically converts to list

[-73, -8, 1, 3, 4, 5, 9]

In [134]:
x=sorted(t) # in this way we can sort the tuple and and can have it as a Tuple 
y=tuple(x) # we are doing a casting which list to tuple
y

(-73, -8, 1, 3, 4, 5, 9)

#### Nested Tuples

In [142]:
t=(1,4,"Disco",("Python","java"))
t

(1, 4, 'Disco', ('Python', 'java'))

In [148]:
print(type(t[1]))
print(type(t[3]))

<class 'int'>
<class 'tuple'>

In [138]:
#### packing and Unpacking in Tuples
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a) # packing and unpacking 
print(c)

1
3

#### dir() - to view the attributes or methods of an object

In [150]:
t = ()
print(dir(t))
# print(help(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [154]:
t=(1,2,3,4)
print(len(t))

4

In [158]:
x = (Hello,'2','3')
type(x)

NameError: name 'Hello' is not defined

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets do not allow duplicates

In [160]:
nums=set([1,2,3,4,5,6])
print(len(nums))

6

In [161]:
# 'sets' that is unordered, or, in other words, it doesn’t maintain an order in which elements are inserted

In [13]:
s={1,2,3,4,4,4,5,5,5,"Vikram","Vikram","VIKRAM"}
type(s)
s

{1, 2, 3, 4, 5, 'VIKRAM', 'Vikram'}

In [21]:
Grades = ["A", "A", "B", "C", "D", "B", "B", "C", "D", "E", "C", "C", "A", "B", "F", "D", "C", "B", "C", "A", "B", "F", "B", "A", "E", "B", "B", "C", "D"]

set(Grades)

{'A', 'B', 'C', 'D', 'E', 'F'}

In [24]:
l=[1,2,3,4,5]
set_1=set(l)
set_1

{1, 2, 3, 4, 5}

In [25]:
len(set_1)

5

In [29]:
a={1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [30]:
a.add("Australia") # Sets are mutable
a

{1, 2, 3, 4, 5, 'Australia'}

In [32]:
a.remove("Australia")
a

{1, 2, 3, 4, 5}

In [35]:
# Set Operations
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [36]:
print(A,B)

{0, 2, 4, 6, 8} {1, 2, 3, 4, 5}

In [38]:
print(A | B)  # Union
print(A.union(B))  # UNION

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [40]:
print(A & B) # intersection -- values in both A and B
print(A.intersection(B))

{2, 4}
{2, 4}

In [43]:
print(A-B) # here taking all values of B that are in A
print(A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [48]:
print(A^ B)  # symmetric diff  , removing the numbers having in both and displaying rest of numbers in both

{0, 1, 3, 5, 6, 8}

####  Set methods
A = {0,2,4,6,8}

B = {1,2,3,4,5}
Union represents the total unique elements in both sets.

A.union(B) → {0, 1, 2, 3, 4, 5, 6, 8}

Intersection represents the elements common to both sets.

A.intersection(B) → {2, 4}

Difference(A-B) represents the elements present in A and not in B.

A.difference(B) → {0, 6, 8}

Symmetric difference represents the union of the elements A and B minus the intersection of A and B.

A^B → {0, 6, 8, 1, 3, 5}

The order of elements shown above may not be the same when you actually execute the above operations. It is because sets are unordered, which means they do not store the positional index of an element in the set.

In [55]:
A = [5, 1, 3, 4, 4, 5, 6, 7]
B = [3, 3, 5, 5, 1 ,7 ,2]
List_1=set(A)
List_1

{1, 3, 4, 5, 6, 7}

In [56]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [58]:
A = {5, 1, 3, 4, 4, 5, 6, 7}
B = {3, 3, 5, 5, 1 ,7 ,2}
print((A.union(B)).difference(A.intersection(B)))

{2, 4, 6}

In this session, we are going to talk about dictionaries. In Python, we use dictionaries to store key-value pairs.
Here is an example -
Let's take the example of a customer as seen earlier.
Now a customer could have multiple attributes such as 
1. Name
2. Email
3. Userid
4. Address 
5. Phone number

Now each of these attributes would be our key and corresponding we'll have values against each on them

With a dictionary, we can store a bunch of key-value pairs, let us now see have a look at the 'Dictionary' data type in Python

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, it's is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [1]:
d={"India":"INR","USA":"USD","French":"Euro"}
d

{'India': 'INR', 'USA': 'USD', 'French': 'Euro'}

In [7]:
print(d["USA"],  "and", d["India"])

USD and INR

In [9]:
# Replace the value for a key in a dictionary

d["USA"] = "$"

d

{'India': 'INR', 'USA': '$', 'French': 'Euro'}

In [11]:
#insert new key  value pair
d["Malaysia"]="MYR"
d

{'India': 'INR', 'USA': '$', 'French': 'Euro', 'Malaysia': 'MYR'}

In [12]:
#delete the key pair value
del d["French"]
d

{'India': 'INR', 'USA': '$', 'Malaysia': 'MYR'}

In [13]:
# Sorting a dictionary

sorted(d)

['India', 'Malaysia', 'USA']

In [14]:
# values() Method -- extracting all the values from dictionary

d = {"India" : "INR",'2', "USA" : "USD", "France" : "Euros"}

d.values()

dict_values(['INR', 'USD', 'Euros'])

In [15]:
# Keys() Method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [17]:
# Update() Method

d.update({'USA':'$'})
d.update({'India':'Ruppee'})
d

{'India': 'Ruppee', 'USA': '$', 'France': 'Euros'}

In [18]:
len(d)

3

In [20]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,
                 102:['Udit',25,'Content Strategist'], 
                 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],
                 105:['Huzefa',32,'Project Manager' ]}
q=Employee_data[104]
q

['Ansari', 29, 'Product Lead']

In [22]:
q[1]

29

In [27]:
d = dict(a=1, b=2)
d

{'a': 1, 'b': 2}

In [28]:
d = {'a':1, 'b':2}
d

{'a': 1, 'b': 2}

In [30]:
d={}
d

{}

In [31]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
input_dict

{'Name': 'Monty', 'Profession': 'Singer'}

In [33]:
input_dict.get('Label', 'NA')

'NA'

In [34]:
answer=input_dict.get('Label', 'NA')
a=input_dict.get('Profession','Singer' )
print(answer)
print(a)

NA
Singer

In [35]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple',
              'Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
input_dict

{'Jack Dorsey': 'Twitter',
 'Tim Cook': 'Apple',
 'Jeff Bezos': 'Amazon',
 'Mukesh Ambani': 'RJIO'}

In [36]:
sorted(input_dict)

['Jack Dorsey', 'Jeff Bezos', 'Mukesh Ambani', 'Tim Cook']

In [40]:
w=sorted(input_dict.values())

w

['Amazon', 'Apple', 'RJIO', 'Twitter']