# Decision making
## IF statements

<h2 style = "color:Brown"> Relational Operators</h2>

- Compares the values on either side of the operator and returns and boolean value as True or False.

In [1]:
10==10

True

In [2]:
10==5

False

In [3]:
10!=10 # not equal to

False

In [4]:
10>5

True

In [5]:
10<3

False

In [6]:
10>=10

True

In [7]:
10>=10

True

<h2 style = "color:Brown">Decision Making

#### Write a program to check value in variable x is less than 99

In [10]:
x=10
if x<99:
    print(x,"yes it is less than 99")
else:
    print(x,"No it is not less than 99")

10 yes it is less than 99

In [11]:
x = 919

if x < 99:
    print(x, "is less than equal to 99")
elif x == 99:
    print(x, "is equal to 99")
else:
    print(x, " is more than 99")

919  is more than 99

In [20]:
## write a code to return YES if x lies in the range of 1000 to 1100, else return NO?
x=1098
if x< 1000 :
    print('NO')
else:
    if(x>1100):
        print('NO')
    else:
        print('YES')

YES

In [26]:
# above code can also write as below using logical operators
x=1009
if x< 1000 or x>1100 :
    print('No')
else:
    print('Yes')

Yes

##### Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama only if he or she is above 60 years or below 18 years of age

In [32]:
age=int(input("Enter your age: "))
if age <=18 or age>=60:
    print("his/her age is ", age ,"and allowed to exclusive children's day party hosted by Mr Obama")
else:
    print("his/her age is " ,age ,"and SORRY you are  Not allowed to exclusive children's day party hosted by Mr Obama")

Enter your age: 34
his/her age is  34 and SORRY you are  Not allowed to exclusive children's day party hosted by Mr Obama

#### Write a program which offers various discounts based on purchase bills

In [38]:
shoppinng_total = int(input("Enter shopping total :  "))

if shoppinng_total >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 100:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

Enter shopping total :  898
You won a discount voucher of flat 1000 on next purchase

#### Example on nested if-else

In [68]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
        
else:
    print("World cup wasn't played in", year)

Enter year to check New Zealand made it to Finals in 20th century : 2011
New Zealand could not make it to Finals

In [64]:
world_cups.keys()

dict_keys([2019, 2015, 2011, 2007, 2003])

In [65]:
world_cups[2019]

['England', 'New Zealand']

In [72]:
world_cups.values()

dict_values([['England', 'New Zealand'], ['Australia', 'New Zealand'], ['India', 'Sri Lanka'], ['Australia', 'Sri Lanka'], ['Australia', 'India']])

In [ ]:
score=int(input("enter score :  "))
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

### Tips: when to use Conditions

-- When there is more than one condition to check and you need to:

Perform a different operation at each condition involving a single variable, you use an if-elif-else condition.

Just return a boolean functionality, i.e., Yes or No, you use logical operators in a single if-else construct.

Perform a different operation in each condition involving different variables, you use a nested if-else construct

In [80]:
# check if string starts with vowel
string=input("Enter String : ")
if (string[0] == 'A' or string[0] == 'a'
        or string[0] == 'E' or string[0] == 'e'
        or string[0] == 'I' or string[0] == 'i'
        or string[0] == 'O' or string[0] == 'o'
        or string[0] == 'U' or string[0] == 'u'):
        print("YES")
else:
        print("NO")

Enter String : vik
NO

<h2 style = "color:Brown">Loops and Iterations

Let's start with a simple 'While' loop - 
##### A while loop begins with a keyword 'While' followed by an expression 
##### So While this condition is satisfied keep running the loop

In [82]:
 # Let's create a pin checker which we generally have in our phones or ATMs
pin=input("Enter the four digit pin: ")
while pin !='1234':
    pin=input("Invallid pin , please try again")
print("pin validation successful")

Enter the four digit pin: 2345
Invallid pin , please try again234
Invallid pin , please try again6543
Invallid pin , please try again12345
Invallid pin , please try again1234
pin validation successful

In [84]:
# Now if we want to add a maximum number of tries allowed condition we'll use the if loop

import sys    #required for exiting the code and displaying an error
pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin: 1234
Pin validation successful.

In [85]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

In [87]:
# iterate over a string

string = "New York"
for char in string:
    print(char)

N
e
w

Y
o
r
k

In [89]:
# iterate over a string - modify print using end

string = "New York"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

N:e:w: :Y:o:r:k:

###### FOR loop syntax:

#for val in seq :

statements

A few things to note in the syntax include:

seq, which represents a sequence; it can be a list, a tuple or a string. To put it in a simple way it can be any iterable object.

The in operator, which, as you may recall, is a membership operator that helps to check for the presence of an element in a sequence.

In [92]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [93]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [94]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for i in L3:
    L3[i] = L1[i] - L2[i]
    print(L3[i])

2
6
15
4
8

In [117]:
#### Ex. Write a program to print prime numbers between 1 to 20
for n in range(2,20): # n=7
    flag=True
    for i in range(2,n): # i=2,3,4,5,6
        if n%i==0 :
            print(n, "is not a prime ", i)
            flag=False
            break
    if flag: # we can also write as if flag==True
        print(n)

2
3
4 is not a prime  2
5
6 is not a prime  2
7
8 is not a prime  2
9 is not a prime  3
10 is not a prime  2
11
12 is not a prime  2
13
14 is not a prime  2
15 is not a prime  3
16 is not a prime  2
17
18 is not a prime  2
19

In [101]:
p=list(range(2,3))
p

[2]

In [109]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L2)):
    L3.append(L2[i] - L1[i])
L3

[-2, -6, -15, -4, -8]

In [112]:
o="viki"
o.capitalize()

'Viki'

In [124]:
l = []
for i in range(-10, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-10, -8, -6, -4, -2]

In [125]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [138]:
3*3**3

81

In [141]:
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

NameError: name 'paragraph' is not defined

<h2 style = "color:Brown">Comprehensions

In [1]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### FUNCTIONAL APPROACH

In [2]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

In [3]:
# iterating over l1 and l2 simultaneously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

In [4]:
# Using list comprehensions is much more concise and elegant than explicit for loops. 
# An example of creating a list using a loop is as follows:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for  i in range(len(L1)):
    L3.append(L1[i] - L2[i])
L3

[2, 6, 15, 4, 8]

In [10]:
# Same above code using a list comprehension is as follows:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[L1[i]-L2[i] for i in range(0,len(L1))]
L3

[2, 6, 15, 4, 8]

#### Dictionary comprehension

In [18]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
# create dictionary consisting of elements and lenghts of each from L1 list
d={i: len(i) for i in l1}
print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

In [30]:
# let’s create a dictionary that has the first ten even natural numbers 
# as keys and the square of each number as the value to the key.
ordinary_dict ={}

for i in range(2,21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [31]:
# the same code above in dictionary comprehension:
update_dict={i:i**2 for i in range(2,21) if i%2==0}
print(update_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [32]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : guhibsjgiq

{'i', 'u'}

In [100]:
new_word=set()
new1=list()
new2=tuple()
wword = input("Enter a word : ")
for i in wword:
    new1.append(i)
    if i in "aeiou":
        new_word.add(i)
print(new_word)
print(new1)

Enter a word : vikram
{'a', 'i'}
['v', 'i', 'k', 'r', 'a', 'm']

In [101]:
words = ['apple', 'orange', 'pear', 'milk', 'otter', 'snake','iguana','tiger','eagle']
vowel=[]
for word in words:
    if word[0] in "aeiou":
        vowel.append(word)
print (vowel)

['apple', 'orange', 'otter', 'iguana', 'eagle']

In [103]:
# same above code in list comprehension
words1 = ['apple', 'orange', 'pear', 'milk', 'otter', 'snake','iguana','tiger','eagle']
list_vowel =[w for w in words1 if w[0] in "aeiou"]
print(list_vowel)

['apple', 'orange', 'otter', 'iguana', 'eagle']

In [104]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [118]:
def factorial(n):
    fact=1
    for i in range(1,n+1):
        # fact=fact*i # same the below one do the job 
        fact*=i 
    return fact
factorial(10)

3628800

### Function Arguments

In [128]:
def func(name, age = 35):  # default parameter
    print("name : ", name)
    print("age : ", age)
func("jane",) # default parameter argument wil pass if you not passing 
func("Viki","18")

name :  jane
age :  35
name :  Viki
age :  18

In [132]:
def func(name, age = 35, city = "New York"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Seattle") # key-word argument if yiu are missing any paramter in. between other parameter name shoupd pass
func("Jane",13,"Seattle")
func("Vi", "",city = "Seattle")

name :  Jane
age :  35
city :  Seattle
name :  Jane
age :  13
city :  Seattle
name :  Vi
age :
city :  Seattle

In [155]:
def var_func(*args):
    print(args)
            
var_func(1,3,"abc") # variable-length argument

(1, 3, 'abc')

In [154]:
def fun(L1,L2):

IndentationError: expected an indented block (3925612875.py, line 1)

In [164]:
def fun_list(list1,list2):
    list3 = []
    for i in range(0,len(list1)):
        list3.append(list1[i]-list2[i])
    return list3

list1 = [10, 20, 30, 24, 18]
list2 = [8, 14, 15, 20, 10]

x=fun_list(list1,list2)
print(x)

[2, 6, 15, 4, 8]

In [176]:
def func(x=1, y = 2):
    z = x * y + x + y
    return z
func(2,11)
#func(2, func(3))

35

#### Functions can be used inside a list comprehension too. An example to create a list, 
the elements of which would be the result of applying the function 
x^2-2y-2
 on each element in the list = [2, 7, 8, 10, 3]

In [181]:
L1 = [2, 7, 8, 10, 3]

def func(y):
    return y**2- 2 * y - 2

ans_list = [func(x) for  x in L1 ]
ans_list

[-2, 33, 46, 78, 1]

### LAMDA FUNCTION

are another way of defining functions to execute small functionalities occurring while implementing a complex functionality. These functions can take multiple parameters as input but can only execute a single expression; in other words, they can only perform a single operation.



#####     The format of a lambda expression is as follows:
function_name  = lambda <space>  input_parameters :  output_parameters 
    
For example: diff = lambda x,y : x-y is a lambda function to find the difference of two elements.

In [182]:
# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

In [196]:
diff=lambda x,y: "even" if (x-y)%2==0 else "odd"
diff(12,2)

'even'

In [197]:
diff1=lambda x,y:x-y
diff1(3,1)

2

In [200]:
greater=lambda x,y: x if x>y else y
greater(2,3)

3

####  MAP - Filter - Reduce

#### MAP


-Map is a function that works like list comprehensions and for loops. 
-It is used when you need to map or implement functions on various elements at the same time.

The syntax of the map function looks as shown below:

map(function,iterable object)

The function here can be a lambda function or a function object.

The iterable object can be a string, list, tuple, set or dictionary.

In [202]:
# --> Using Lambda 
countries=["India","Japan","Usa","France","Malaysia"]  
f=lambda x:x.upper()
f("India")

'INDIA'

In [203]:
# Using For loop
capital_countries=[]
for country in countries :
    capital_countries.append(f(country))
capital_countries

['INDIA', 'JAPAN', 'USA', 'FRANCE', 'MALAYSIA']

In [211]:
# Map ( function ,collection_or_List)

list(map(lambda x : x.upper(),countries))

['INDIA', 'JAPAN', 'USA', 'FRANCE', 'MALAYSIA']

In [212]:
list(map(lambda x : x.upper(),("countries","India","Hello")))

['COUNTRIES', 'INDIA', 'HELLO']

In [213]:
(map(lambda x : x.upper(),countries))

In [220]:
# combination of Lambda and Map
L1=[2,3,4,5]
f_square=lambda x:x**2
list(map(f_square,L1))

[4, 9, 16, 25]

In [222]:
list(map(lambda x:x**2,L1))

[4, 9, 16, 25]

##### Defining a function and using it in map


In the implementation of the map function, the lambda function lambda x: x*2 would return a lambda object, but the map handles the job of passing each element of the iterable to the lambda object and storing the value obtained in a map object. Using the list function on the map object, you finally obtain the output list.

In [224]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

In [227]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [228]:
def multi(x):
    return x*2

list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)

print(list(sample_map))

[2, 4, 6, 8]

#### Filter function

filter function to return the multiples of 3 

Filter' is similar to map function, only distinguishing feature being that it requires the function to look for a condition and then returns only those elements from the collection that satisfy the condition.


The syntax of the filter function looks as shown below:

filter(function,iterable object)

 The function object passed to the filter function should always return a boolean value.
The iterable object can be a string, list, tuple, set or dictionary.

In [229]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [242]:
my_list = [3,4,5,6,7,8,9]

set(filter(lambda x:  x % 3 == 0,my_list))

{3, 6, 9}

In [246]:
my_list = [3,4,5,6,7,8,9]

list(filter(lambda x:  x % 3 == 0,my_list))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [288]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

list(filter(lambda x:x[1] >18 ,students_data.values()))

[['Cornor', 19], ['Trump', 20]]

In [293]:
for x in students_data.values():
    if x[1] >18 :
        print(x[0],x[1])

Cornor 19
Trump 20

In [296]:
f=lambda x: x[1] > 18

False

In [306]:
list_older_than_18=list(filter(f,students_data.values()))
list_older_than_18

[['Cornor', 19], ['Trump', 20]]

In [304]:
len(list_older_than_18)

2

In [305]:
len(list(filter(f,students_data.values())))

2

####  'Reduce'  - Function
is an operation that breaks down the entire process into pair-wise operations and uses the result from each operation, with the successive element. The syntax of reduce function is given below. 

 

reduce(function,iterable object)

The function object passed to the reduce function decides what expression is passed to the iterable object.
The iterable object can be a string, list, tuple, set or dictionary.
Also, reduce function produces a single output.

In [309]:
from functools import reduce
l=range(1,7)
# set(l)
list(l)

[1, 2, 3, 4, 5, 6]

In [312]:
f=lambda x,y : x*y
f(2,4)

8

In [318]:
f1=reduce(lambda x,y:x*y,l)
f1

720

In [ ]:
q=reduce(f,l)
q

In [319]:
list_1 = ['Paul','Ted']
reduce(lambda x,y: x + y,list_1)

'PaulTed'

In [320]:
input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
desireList = list(map(lambda x: x if x[0] == 'S' else '', input_list))
desireList.remove('')
print(len(desireList))

3

In [322]:
# Using the function Map, count the number of words that start with ‘S’ in input_list.
input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
sum(map(lambda x: x[0] == 'S', input_list))

3

In [325]:
input_list=[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
first_name = input_list[0]
last_name = input_list[1]
list(map(lambda x,y :x+" "+y ,first_name,last_name))

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [326]:

# Description You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].
#Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

input_list =['soap','sharp','shy','silent','ship','summer','sheep']
sp = list(filter(lambda x: x[0]=='s' and x[-1]=='p',input_list))
print(sp)

['soap', 'sharp', 'ship', 'sheep']

In [327]:
from functools import reduce
input_list =  ['hdjk', 'salsap', 'sherpa']
reduce(lambda x,y: x+" "+y, input_list)

'hdjk salsap sherpa'

In [328]:
list2 = [16, 78, 32, 67]
reduce(max,list2)

78