Creator and Presenter - <b>Devesh Singh</b>

- I'll be posting data-science related content on my <b>LinkedIn</b>, <b>Instagram</b> and <b>GitHub</b> handle. So you can follow me to stay updated.


<b>LinkedIn</b> - https://www.linkedin.com/in/deveshhh3/

<b>Instagram</b> - https://www.instagram.com/deveshhh3/

<b>GitHub</b> - https://github.com/deveshhh3/

# What is data structure in programming language?

A data structure is a particular way of organizing data in a computer so that it can be used effectively.

# Data Structures in Python

Python has four basic inbuilt data structures namely Lists, Dictionary, Tuple and Set. These almost cover 80% of the our real world data structures.

## Lists

A list is similar to an array that consists of a group of elements or items. Just like an array, a list can store elements. But, there is one major difference between an array and a list. An array can store only one type of elements whereas a list can store different types of elements. Hence lists are more versatile and useful than an array. Perhaps lists are the most used data structure in Python programs.

In [103]:
avengers = []
# List are creted is sqaure bracket

In [104]:
avengers = ["thor", "ironman", "hulk", "blackwidow", "captainamerica"]

In [105]:
for hero in avengers:
    print(hero)

thor
ironman
hulk
blackwidow
captainamerica

In [106]:
for element in avengers:
    print(element)

thor
ironman
hulk
blackwidow
captainamerica

In [108]:
avengers[2]

'hulk'

In [109]:
avengers[-1]

'captainamerica'

In [110]:
avengers[:3]

['thor', 'ironman', 'hulk']

In [112]:
avengers[:-2:-1]

['captainamerica']

In [113]:
# A simple list 
# Declaring a list

random = [1, "a" , "string" , 1+2, 90.8, True] 

print(random)

[1, 'a', 'string', 3, 90.8, True]

In [9]:
# RULE - 1 - Lists are ordered

In [ ]:
# RULE 2 - Lists are mutable - that you can edit the content of a list

In [10]:
random

[1, 'a', 'string', 3, 90.8, True]

Creating Lists using range() function


range(start, stop, stepsize)

In [114]:
list_range = list(range(0,10,1))
print(list_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
list("amazon")

['a', 'm', 'a', 'z', 'o', 'n']

In [116]:
list(str(21))

['2', '1']

In [119]:
z = (range(5))

In [120]:
type(list(z))

list

In [126]:
type((range(5)))

range

## Tuples
A tuple is a python sequence which stores a group of elements or items. Tuples are similar to lists but the main difference is tuples are immutable whereas lists are mutable. Since tuples are immutable, once we create a tuple we cannot modify its elements.

In [74]:
tup1 = ()

In [75]:
tup1[0]

IndexError: tuple index out of range

In [76]:
tup2 = (10, 20, 'Hyderabad')

In [8]:
tup2[2]

'Hyderabad'

## Sets

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python’s set class represents the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

In [1]:
# Sets are used to store unique values
# Sets are case sensitive
# Sets are unordered
# Sets do not work with Indexes

In [2]:
# Python program to 
# demonstrate sets 
  
# Same as {"a", "b", "c"}

set_A = set(["a", "b", "c",'c',"C"])

In [3]:
set_A

{'C', 'a', 'b', 'c'}

### Set Union Operations

In [4]:
A = {1, 2, 3, 4, 5}

B = {4, 5, 6, 7, 8}

Union of A and B is a set of all elements from both sets.

Union is performed using | operator. Same can be accomplished using the method union().

In [5]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

### Set Intersection Operations

Intersection of A and B is a set of elements that are common in both sets.

Intersection is performed using & operator. Same can be accomplished using the method intersection().

In [7]:
A = {1, 2, 3, 4, 5}

B = {4, 5, 6, 7, 8}

In [8]:
print(A&B)

{4, 5}

In [9]:
A.intersection(B)

{4, 5}

### Set Difference Operations

Difference of A and B (A - B) is a set of elements that are only in A but not in B. Similarly, B - A is a set of element in B but not in A.

In [10]:
A = {1, 2, 3, 4, 5}

B = {4, 5, 6, 7, 8}

In [11]:
print(A - B)

{1, 2, 3}

In [12]:
print(B - A)

{8, 6, 7}

In [13]:
A.difference(B)

{1, 2, 3}

In [14]:
B.difference(A)

{6, 7, 8}

### Set Symmetric Difference

Symmetric Difference of A and B is a set of elements in both A and B except those that are common in both.

Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference().

In [15]:
A = {1, 2, 3, 4, 5}

B = {4, 5, 6, 7, 8}

In [16]:
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [17]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [18]:
monday_agents = {"b","d","f"}

tuesday_agents = {"a","b","c"}

wed_agents = {"b","c","f"}

In [19]:
# All Agents coming across the week

monday_agents.union(tuesday_agents.union(wed_agents))

{'a', 'b', 'c', 'd', 'f'}

In [21]:
# Which are the agents which goes on each day

monday_agents.intersection(tuesday_agents.intersection(wed_agents))

{'b'}

In [22]:
# Agents which goes on Monday or Wednesday but not on Tuesday

In [23]:
monday_agents.union(wed_agents) - tuesday_agents

{'d', 'f'}

## Dictionaries
A dictionary represents a group of elements arranged in the form of key-value pairs. In the dictionary, the first element is considered as 'key' and the immediate next element is taken as its 'value'. The key and its value is separated by a colon (:).

All the key-value pairs in a dictionary are inserted in curly braces {}.

In [25]:
dict_1 = {'Name': 'Chandra',
          'ID': 54321,
          'Salary': 12500}

In [26]:
dict_1

{'Name': 'Chandra', 'ID': 54321, 'Salary': 12500}

In [30]:
dict_2 = {'my_list':["Name",123,"Address"]}

In [28]:
dict_2

{'my_list': ['Name', 123, 'Address']}

In [29]:
dict_2["my_list"]

['Name', 123, 'Address']

In [31]:
dict_3 = {0:"Devesh", 1: "Singh", "0":"Hola", "string":"value"}

In [32]:
dict_3

{0: 'Devesh', 1: 'Singh', '0': 'Hola', 'string': 'value'}

# Lists - Operations

In [123]:
# Lets declare two list 

list_1 = [1,1,2,2,3,3,4,4]

list_2 = [5,5,6,6,7,7,8,8]

## Displaying list element by position

In [124]:
list_1[5]

3

In [125]:
list_1[4]

3

## Index

In [127]:
# Returns first occurance of x in list
# list_name.index(x)

list_1 = [1,1,2,2,3,3,4,4]

list_1.index(3)

4

In [128]:
msg = list("amazon")

In [129]:
msg

['a', 'm', 'a', 'z', 'o', 'n']

In [131]:
msg.index('z')

3

## Append

In [132]:
# append x in the end of the list
# list_name(x)

list_1 = [1,1,2,2,3,3,4,4]

In [133]:
list_1.append(9)
list_1

[1, 1, 2, 2, 3, 3, 4, 4, 9]

In [134]:
msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [135]:
msg.append('in')

In [136]:
msg

['a', 'm', 'a', 'z', 'o', 'n', 'in']

In [137]:
msg.append(21)

In [138]:
msg

['a', 'm', 'a', 'z', 'o', 'n', 'in', 21]

In [139]:
msg.append([23,56])

In [140]:
msg

['a', 'm', 'a', 'z', 'o', 'n', 'in', 21, [23, 56]]

In [141]:
msg.append(23)

TypeError: append() takes exactly one argument (2 given)

In [142]:
msg = list("amazon")

In [143]:
msg

['a', 'm', 'a', 'z', 'o', 'n']

In [148]:
y = msg[:5]

In [149]:
y

['a', 'm', 'a', 'z', 'o']

In [145]:
msg

['a', 'm', 'a', 'z', 'o', 'n']

In [146]:
msg.append("k")

In [147]:
msg

['a', 'm', 'a', 'z', 'o', 'n', 'k']

## Extend

In [ ]:
# appends other list1 to existing list
# list.extend(list1)


list_1 = [1,1,2,2,3,3,4,4]
list_2 = [5,5,6,6,7,7,8,8]

In [150]:
list_1.extend(list_2)
list_1

[1, 1, 2, 2, 3, 3, 4, 4, 9, 5, 5, 6, 6, 7, 7, 8, 8]

In [162]:
msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [163]:
list_new = ["i",'n','d','i','a']

In [164]:
msg.extend(list_new)

In [165]:
msg

['a', 'm', 'a', 'z', 'o', 'n', 'i', 'n', 'd', 'i', 'a']

In [166]:
msg.extend("33")

In [167]:
msg

['a', 'm', 'a', 'z', 'o', 'n', 'i', 'n', 'd', 'i', 'a', '3', '3']

## Insert

In [168]:
# inserts x in the position specified by i
# list_name(i,x)

msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [169]:
msg.insert(3,10)
msg

['a', 'm', 'a', 10, 'z', 'o', 'n']

## Pop

In [171]:
# Removes the ending element from the list

msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [172]:
msg.pop()

'n'

In [174]:
msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [175]:
msg.pop(3)

'z'

In [176]:
msg

['a', 'm', 'a', 'o', 'n']

In [177]:
msg = ['a', 'm', 'a', 'z', 'o', 'n']

last_variable = msg.pop()

In [178]:
msg

['a', 'm', 'a', 'z', 'o']

In [179]:
last_variable

'n'

## Remove

In [192]:
msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [193]:
msg.remove("a")

In [194]:
msg

['m', 'a', 'z', 'o', 'n']

In [195]:
msg.remove("a")

## Reverse

In [196]:
# Reverse the sequence of elements in the list

msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [197]:
msg

['a', 'm', 'a', 'z', 'o', 'n']

In [198]:
msg.reverse()

In [199]:
msg

['n', 'o', 'z', 'a', 'm', 'a']

## Count

In [200]:
msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [201]:
# Count the occurance of an element in a list
msg.count('a')

2

In [202]:
msg.count('z')

1

## Sort

In [208]:
msg = ['a', 'm', 'a', 'z', 'o', 'n']

In [204]:
msg.sort()

In [205]:
msg

['a', 'a', 'm', 'n', 'o', 'z']

In [211]:
msg.sort(reverse=True)

In [213]:
msg

['z', 'o', 'n', 'm', 'a', 'a']

## Making List through Range

Creating list through Range:
range(start, stop, stepsize)

In [214]:
list_3 = list(range(2,20,2))

In [215]:
list_3

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Reference

In [216]:
list_3

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [218]:
list_4 = list_3

In [220]:
list_4

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [221]:
list_4.append(20)

In [222]:
list_4

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [223]:
list_3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [224]:
id(list_3)

2475981696320

In [225]:
id(list_4)

2475981696320

## Copy

In [226]:
list_2

[5, 5, 6, 6, 7, 7, 8, 8]

In [227]:
list_5 = list_2.copy()

In [228]:
list_5.append(45)

In [229]:
list_5

[5, 5, 6, 6, 7, 7, 8, 8, 45]

In [230]:
list_2

[5, 5, 6, 6, 7, 7, 8, 8]

In [231]:
id(list_5)

2476022033088

In [232]:
id(list_2)

2475983590592

In [234]:
list_6 = list_5[:]

In [235]:
id(list_6)

2476022588416

In [236]:
id(list_5)

2476022033088

In [ ]:
Questions

# List Exercise

## Question: 1
Create a program to take 'n': number of elements in a list. Then these 'n' inputs from the user and store them in a list and print them on screen.

In [238]:
num_elements = int(input("Enter the number of elements: "))

store_list = []

while num_elements!=0:
    temp = input("Enter a value: ")
    store_list.append(temp)
    num_elements = num_elements - 1
    
print("The list you have entered is this", store_list)

Enter the number of elements: 4
Enter a value: Devesh
Enter a value: 30
Enter a value: yiuop
Enter a value: 123
The list you have entered is this ['Devesh', '30', 'yiuop', '123']

In [3]:
#alternate
print("Enter the number of elements you want in the list:")
num_of_elements = int(input())
list_elements = []

for i in range(num_of_elements):
    print("Enter number ",i+1, ":")
    num = int(input())
    list_elements.append(num)

print(list_elements)

Enter the number of elements you want in the list:
3
Enter number  1 :
2
Enter number  2 :
4
Enter number  3 :
6
[2, 4, 6]

In [241]:
my_list

[56, 87, 34, 67, 90]

In [242]:
if num_check in my_list:
    print(True)

True

## Question: 2
Take 5 integer inputs from user and store them in a list. Again ask user to give a number. Now, tell user whether that number is present in list or not.

In [5]:
a = []
for i in range(0,5):
    print("Enter number ",i+1, ":")
    num = int(input())
    a.append(num)

print("Check for a number")
n = int(input())

# if a.count(n)>0:
if n in a:
    print("Yes")
else:
    print("No")

Enter number  1 :
2
Enter number  2 :
3
Enter number  3 :
4
Enter number  4 :
5
Enter number  5 :
6
Check for a number
5
Yes

In [240]:
my_list = []
for i in range(5):
    temp = int(input("Enter a number: "))
    my_list.append(temp)

num_check = int(input("Enter a number to check its presence"))

k = my_list.count(num_check)

if k>0:
    print("This number is present.")
else:
    print("This number is NOT present.")

Enter a number: 56
Enter a number: 87
Enter a number: 34
Enter a number: 67
Enter a number: 90
Enter a number to check its presence87
This number is present.

## Question: 3
Take 6 input from the user and check weather the number entered is even or odd. Create a single list which store 'even' or 'odd' based on the number entered. Print this created list.

In [190]:
list_1 = []
list_2 = []

for i in range(6):
    new_num = int(input("Enter the number: "))
    list_1.append(new_num)
    
    if new_num%2==0:
        list_2.append("Even")
    else:
        list_2.append("odd")

print(list_2)

Enter the number: 30
Enter the number: 89
Enter the number: 675
Enter the number: 423
Enter the number: 45343
Enter the number: 86
['Even', 'odd', 'odd', 'odd', 'odd', 'Even']

In [101]:
my_list = []
my_list_even_odd = []

for i in range(6):
    new_num = int(input("Please enter a number: "))
    my_list.append(new_num)
    
    if new_num%2==0:
        my_list_even_odd.append("Even")
    else:
        my_list_even_odd.append("Odd")
        
print(my_list)
print(my_list_even_odd)

Please enter a number: 90
Please enter a number: 76
Please enter a number: 89
Please enter a number: 34
Please enter a number: 56
Please enter a number: 32
[90, 76, 89, 34, 56, 32]
['Even', 'Even', 'Odd', 'Even', 'Even', 'Even']

## Question: 4

Take 10 integer inputs from user and print the following:
- number of positive numbers
- number of negative numbers
- number of odd numbers
- number of even numbers
- number of 0s.

In [192]:
num_list = []

for i in range(10):
    new_num = int(input("Please enter a number: "))
    num_list.append(new_num)

even = odd = positive = negative = zero = 0

for num in num_list:
    
    if num%2==0:
        even += 1
    else:
        odd += 1
    
    if num>0:
        positive +=1
    elif num==0:
        zero +=1
    else:
        negative +=1

print("Even: ", even)
print("odd: ", odd)
print("positive: ", positive)
print("negative: ", negative)
print("zero: ", zero)

Please enter a number: 56
Please enter a number: -98
Please enter a number: 78
Please enter a number: 0
Please enter a number: 54
Please enter a number: 0
Please enter a number: 90
Please enter a number: -65
Please enter a number: 78
Please enter a number: -09
Even:  8
odd:  2
positive:  5
negative:  3
zero:  2

In [104]:
my_list = []

for i in range(10):
    new_num = int(input("Enter a number: "))
    my_list.append(new_num)
    
odd = even = zero = positive = negative = 0

for num in my_list:
    
    if num%2==0:
        even += 1
    else:
        odd += 1
        
    if num>0:
        positive += 1
    elif num==0:
        zero +=1
    else:
        negative +=1
        
print("Odd: ", odd)
print("even: ", even)
print("zero: ", zero)
print("positive: ", positive)
print("negative: ", negative)

Enter a number: 10
Enter a number: 98
Enter a number: -90
Enter a number: 45
Enter a number: 0
Enter a number: 76
Enter a number: 54
Enter a number: 221
Enter a number: 34
Enter a number: 54
Odd:  2
even:  8
zero:  1
positive:  8
negative:  1

## Question 5:
Create  a list which has duplicate values and remove duplicates from it.

In [194]:
list_1 = ['a','b','c','c','d','d']

In [195]:
list_2 = list(set(list_1))

In [196]:
list_2

['b', 'c', 'a', 'd']

# Dictionary - Operations

In [33]:
lang = {"en":"english",
        "fr":"french",
        "hi":"hindi",
        "es":"spanish"}

In [34]:
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

## Accessing a Value

In [35]:
lang['hi']

'hindi'

In [36]:
lang["fr"]

'french'

In [37]:
lang["tl"]

KeyError: 'tl'

## get

In [37]:
# Return the value of key. If key doesnot exist, return d (defaults to None).

In [38]:
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

In [39]:
lang.get('en')

'english'

In [40]:
lang.get('tl')

In [41]:
lang.get('tl',"This key value pair is not present")

'This key value pair is not present'

## keys

In [42]:
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

In [43]:
#Return a new view of the dictionary's keys.

lang.keys()

dict_keys(['en', 'fr', 'hi', 'es'])

In [44]:
list(lang.keys())

['en', 'fr', 'hi', 'es']

In [46]:
for key in lang.keys():
#     print(key)
    print(lang[key])

english
french
hindi
spanish

## values

In [47]:
# Return a new view of the dictionary's values
lang.values()

dict_values(['english', 'french', 'hindi', 'spanish'])

In [48]:
list(lang.values())

['english', 'french', 'hindi', 'spanish']

In [49]:
for value in lang.values():
    print(value)

english
french
hindi
spanish

## items

In [50]:
#Return a new view of the dictionary's items (key, value).

In [51]:
lang.items()

dict_items([('en', 'english'), ('fr', 'french'), ('hi', 'hindi'), ('es', 'spanish')])

In [52]:
for pair in lang.items():
    print(pair)

('en', 'english')
('fr', 'french')
('hi', 'hindi')
('es', 'spanish')

In [53]:
k, v = ('en', 'english') # Unpacking

In [54]:
k

'en'

In [55]:
v

'english'

In [59]:
for k,v in lang.items():
    print(k)
    print(v)

en
english
fr
french
hi
hindi
es
spanish

In [122]:
# We make use of items when we want to perform a 'for' loop operation using dictionary
# if you see it clearly, this is LIST OF TUPLES!

In [153]:
for item in lang.items():
    print(item)

('en', 'english')
('fr', 'french')
('hi', 'hindi')
('es', 'spanish')

In [154]:
item

('es', 'spanish')

## Clear

In [60]:
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

In [61]:
# Remove all items form the dictionary.
lang.clear()

In [62]:
lang

{}

In [63]:
lang = {'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

In [64]:
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

In [65]:
del lang['en']

In [66]:
lang

{'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

## Copy

In [67]:
lang = {"en":"english","fr":"french","hi":"hindi","es":"spanish"}

In [68]:
lang2 = lang.copy()

In [69]:
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

## Zip List to create dictionary

In [70]:
list_1 = ['a','b','c']

list_2 = [5,6,7]

In [72]:
dict(zip(list_1, list_2))

{'a': 5, 'b': 6, 'c': 7}

In [73]:
list_1 = ['a','b','c','d']

list_2 = [5,6,7]

In [74]:
dict(zip(list_1, list_2))

{'a': 5, 'b': 6, 'c': 7}

In [75]:
list_1 = ['a','b','c']

list_2 = [5,6,7,9]

In [76]:
dict(zip(list_1, list_2))

{'a': 5, 'b': 6, 'c': 7}

In [78]:
list_1 = ['a','b','c','b']

list_2 = [5,6,7,3]

dict(zip(list_1, list_2))

{'a': 5, 'b': 3, 'c': 7}

In [166]:
dict(zip(list_1,list_2))

{'a': 5, 'b': 6, 'c': 7}

## Add a new Key Value Pair

In [79]:
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

In [80]:
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

In [ ]:
#"np":"nepalese"

In [81]:
lang["np"] = "nepalese"

In [82]:
lang

{'en': 'english',
 'fr': 'french',
 'hi': 'hindi',
 'es': 'spanish',
 'np': 'nepalese'}

In [83]:
lang["en"] = "englishhhh"

In [84]:
lang

{'en': 'englishhhh',
 'fr': 'french',
 'hi': 'hindi',
 'es': 'spanish',
 'np': 'nepalese'}

## update

In [85]:
lang

{'en': 'englishhhh',
 'fr': 'french',
 'hi': 'hindi',
 'es': 'spanish',
 'np': 'nepalese'}

In [86]:
new_dict = {"hr":"haryanvi",
            "tl":"telugu",
            "ur":"urdu",
            "od":"odia",
            "en":"english"
           }

In [87]:
lang.update(new_dict)

In [88]:
lang

{'en': 'english',
 'fr': 'french',
 'hi': 'hindi',
 'es': 'spanish',
 'np': 'nepalese',
 'hr': 'haryanvi',
 'tl': 'telugu',
 'ur': 'urdu',
 'od': 'odia'}

## Iterating over a dictionary

In [89]:
# Iterating over a dictionary
for k,v in lang.items():
    print(k,v)

en english
fr french
hi hindi
es spanish
np nepalese
hr haryanvi
tl telugu
ur urdu
od odia

In [91]:
lang.keys()

dict_keys(['fr', 'hi', 'es', 'np', 'hr', 'tl', 'ur', 'od'])

In [90]:
for keys in lang.keys():
    del lang[keys]

RuntimeError: dictionary changed size during iteration

In [96]:
lang

{'fr': 'french',
 'hi': 'hindi',
 'es': 'spanish',
 'np': 'nepalese',
 'hr': 'haryanvi',
 'tl': 'telugu',
 'ur': 'urdu',
 'od': 'odia'}

# Dictionary Exercise

## Question 1:
Create a dictionary and remove the key value pair if the value is odd

ex: input {"A": 123,"B": 431,"C":56}

output {"C":56}

In [102]:
dict_1 = {"A": 123,"B": 431,"C":56}

key_list = []

for k,v in dict_1.items():
    if v%2!=0:
        key_list.append(k)

for keys in key_list:
    del dict_1[keys]
    
print(dict_1)

{'C': 56}

In [100]:
my_keys

['A', 'B']

In [103]:
num = 99

In [105]:
if (num%2!=0) and (num%9==0):
    print(num)

99

In [183]:
dict_1 = {"A": 123,"B": 431,"C":56}

In [185]:
temp_dict = {}

for key in dict_1.keys():       
    if dict_1[key]%2==0:
        temp_dict[key] = dict_1[key]
        
print(temp_dict)

{'C': 56}

In [186]:
dict_1 = {"A": 123,"B": 431,"C":56}
temp_list = []

for key in dict_1.keys():
    if dict_1[key]%2!=0:
        temp_list.append(key)

for key in temp_list:
    del dict_1[key]
    
print(dict_1)

{'C': 56}

In [94]:
# Solution 1 
dict_1 = {"A": 123,"B": 431,"C":56}

temp_dict = {}
for k,v in dict_1.items():
    if v%2==0:
        temp_dict.update({k:v})

print(temp_dict)

In [96]:
# Solution 2 - Without Temp Dictionary

In [98]:
dict_1 = {"A": 123,"B": 431,"C":56}

temp_list = []

for k,v in dict_1.items():
    if v%2!=0:
        temp_list.append(k)

for keys in temp_list:
    del dict_1[keys]

print(dict_1)

{'C': 56}

## Question 2:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [107]:
num = int(input("Enter a number to generate the dictionary: "))

dict_1 = {}

for i in range(1,num+1):
    dict_1[i] = i**2
    
print(dict_1)

Enter a number to generate the dictionary: 9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [187]:
user_input = int(input("Please enter the number the Square Dictionary: "))

square_dict = {}

for i in range(1,user_input+1):
    square_dict[i] = i*i
    
print(square_dict)

Please enter the number the Square Dictionary: 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [99]:
user_input = int(input("Enter the number for the series of Square: "))

square_dict = {}

for i in range(1,user_input+1):
    square_dict[i] = i**2
    
print(square_dict)

Enter the number for the series of Square: 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## Question 3:
Write a program which will:
1. Find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 2100 (both included).
2. Find all such numbers which are divisible by 9 but are not a multiple of 5, between 2000 and 2100 (both included).

Store these list of number in a dictionary in following way:

{'7_not_5': [list of number],
 '9_not_5' : [list of number]}
 
 
 
 Hint: 
 
 if (num%2!=0) and (num%9==0):
 
    print(num)

In [109]:
seven = []
nine = []

for i in range(2000,2101):
    if i%7==0 and i%5!=0:
        seven.append(i)
        
    if i%9==0 and i%5!=0:
        nine.append(i)
        
dict_1 = {"7_not_5": seven,
          "9_not_5": nine
         }
print(dict_1)

{'7_not_5': [2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093], '9_not_5': [2007, 2016, 2034, 2043, 2052, 2061, 2079, 2088, 2097]}

In [189]:
seven = []
nine = []

for i in range(2000, 2100+1):
    if (i%7==0) and (i%5!=0):
        seven.append(i)
    if (i%9==0) and (i%5!=0):
        nine.append(i)
        
dict_1 = {"7_not_5":seven,
          "9_not_5":nine}

print(dict_1)

{'7_not_5': [2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093], '9_not_5': [2007, 2016, 2034, 2043, 2052, 2061, 2079, 2088, 2097]}

In [100]:
seven = []
nine = []

for i in range(2000,2100+1):
    if (i%7==0) and (i%5!=0):
        seven.append(i)
    if (i%9==0) and (i%5!=0):
        nine.append(i)
        
dict_1 = {"7_not_5": seven,
          "9_not_5": nine}

print(dict_1)

{'7_not_5': [2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093], '9_not_5': [2007, 2016, 2034, 2043, 2052, 2061, 2079, 2088, 2097]}

## UpGrad Question

Sorting a dictionary
Description
Given is a list consisting of dictionary elements. Each dictionary contains the name of a student as a first item and his/her corresponding rank as the second item. Your task is to write a Python program to print the list (dictionary elements) in a sorted ascending order according to student ranks. In case the rank of two or more students are the same, then sort them in ascending order (alphabetically) according to their names.



Note: Use the sorted() function to solve the question.



Input: Dictionary

Output: Dictionary



----------------------------------------------------------------------



Sample input: [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]

Sample output: [{ "name" : "Aravind" , "rank" : 19 }, { "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },

]

In [177]:
# my_list = [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }, { "name" : "Aravind" , "rank" : 21 }]

In [193]:
my_list = eval(input("Enter the list of dictionaries: "))

all_ranks = sorted([my_list[x]['rank'] for x in range(len(my_list))])

marks_tup_name = [(my_list[x]['name'],my_list[x]['rank']) for x in range(len(my_list))]

marks_tup_name  = sorted(marks_tup_name)

sorted_list = []

for rank in all_ranks:
    print(marks_tup_name)
    for item in marks_tup_name:
        if rank in item:
            sorted_list.append(item)
            marks_tup_name.remove(item)

sorted_list

final_result = [{"name":item[0],"rank":item[1]} for item in sorted_list]
print(final_result)

Enter the list of dictionaries: [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }, { "name" : "Aravind" , "rank" : 21 }]
[('Aravind', 19), ('Aravind', 21), ('Arpit', 20), ('Manjeet', 20)]
[('Aravind', 21), ('Arpit', 20), ('Manjeet', 20)]
[('Aravind', 21), ('Manjeet', 20)]
[('Aravind', 21)]
[{'name': 'Aravind', 'rank': 19}, {'name': 'Arpit', 'rank': 20}, {'name': 'Manjeet', 'rank': 20}, {'name': 'Aravind', 'rank': 21}]

Test Case - 1

input: [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]

output:  [{'name': 'Aravind', 'rank': 19}, {'name': 'Arpit', 'rank': 20}, {'name': 'Manjeet', 'rank': 20}]

Test Case - 2

input: [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }, { "name" : "Aravind" , "rank" : 21 }]

output: [{'name': 'Aravind', 'rank': 19}, {'name': 'Arpit', 'rank': 20}, {'name': 'Manjeet', 'rank': 20}, {'name': 'Aravind', 'rank': 21}]

## Upgrad Question 2

In a certain encrypted message which has information about the location(area, city), the characters are jumbled such that first character of the first word is followed by the first character of the second word, then it is followed by the second character of the first word and so on

In other words, let’s say the location is bandra,mumbai

The encrypted message says ‘bmaunmdbraai’.

Sample Input:

bmaunmdbraai

Sample Output:

bandra,mumbai

In [1]:
user_input = input("Enter the encrypted word: ")

all_char = list(user_input)

word_one = [all_char[x] for x in range(len(all_char)) if x%2==0]
word_two = [all_char[y] for y in range(len(all_char)) if y%2!=0]


print(("".join(word_one)) +"," + ("".join(word_two)))

Enter the encrypted word: 3fdsggd
3dgd,fsg

In [2]:
movie=['A','B','C','D','E']

In [3]:
movie[: : 2]

['A', 'C', 'E']

In [4]:
movie[1: : 2]

['B', 'D']

In [14]:
list1=list(range(1,101))
list1
list2=list(range(3,101,3))

In [22]:
list3=[1,2,3,4,5,6,7,8,9,10]
list3[0:-1:2]

[1, 3, 5, 7, 9]

In [25]:
ls=list(range(1,31))

In [34]:
dict_3 = {
    'k1' : [1,2,3, {'k2': [4,5,6,{'k3': {'k4':[1,2,3,'Required_Value']}}]}]
}
dict_3['k1'][-1]['k2'][3]['k3']['k4'][3]

'Required_Value'